<p>Hello <%= @user.email %></p>
<p>A new product <%= @product.name %> has been added to the cart.</p>
<p>Product price is: <%= @product.price %></p>
<p>Details of product:<%= @product.description %></p>


